body{
    background: #e68bbe;
    margin: 0;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: right;
    margin: 10px 20px;
}

div a { 
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
}

nav a:hover {
    color: #5e053d;
}

header {
    text-align: center;
    color:#fff;
}

#start-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-game {
    background-color: white;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
}

#start-steps-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
}

#steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.steps {
    background-color: white;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#start-btn {
    margin-top: 10px;
}

.game-container {
    background: white;
    padding: 30px;
    margin: 35px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.game-panel {
    width: 35%;
    text-align: center;
}

#keyboard {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.keyboard-row button {
    color: #fff;
    font-weight: 600;
    background-color: #eea1cd;
    border-radius: 4px;
    border: none;
    width: 30px;
    padding: 3px;
}

.keyboard-row button:hover {
    background-color: #fde4f2;
}

#start-btn, #reset-btn, #steps-btn {
    background-color: #e68bbe;
    color: #fff;
    border-radius: 8px;
    border-color: #f4b8da;
    padding: 7px;
    font-weight: 550;
}